<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SpringBoot Shiro</title>
</head>
<body>
其它:
<br>
<a href="/page/login.html">login.html</a>
<br>
<a href="/page/welcome.html">welcome.html</a>
<br>
需要登录：
<br>
<a href="/page/authc.html">authc.html</a>
<br>
需要admin角色：
<br>
<a href="/page/admin1.html">admin1.html</a>
<br>
<a href="/page/admin2.html">admin2.html</a>
<br>
需要look权限：
<br>
<a href="/page/look1.html">look1.html</a>
<br>
<a href="/page/look2.html">look2.html</a>
</body>
</html>